*.class
*.jar
.DS_Store
conf.test/
SecurityAuth.audit
/lib
dist/
build/
build.xml
nbproject/
/log/*
/.idea/
*.iml
*.ipr
*.iws
/out/
*.rdb
target/
bin/
META_INF/
.idea/
.*log.*
*.pyc
log
kafka/out/*
*.zip
META-INF/*
.m2/*
